<launch>
  <arg name="sim" default="false" />
  <arg name="isolated_arm_driver" default="true" />
  <arg name="scene" default="true" />
  <arg name="grasp_controller" default="true" />
  <arg name="initial_z" default="0" />
  <arg name="start_home" default="$(arg sim)" />
  <arg name="scene_file" default="$(find mujoco_models)/mujoco.scene" />
  <arg name="camera" default="ensenso" />
  <arg name="arm_group" default="right_arm_and_manipulator" />
  <arg name="description_repo_path" default="$(find sr_utl5)" />
  <arg name="manipulator_file" default="$(find sr_utl5)/config/manipulator_hand.yaml" />
  <arg name="arm_positions_file" default="$(find sr_utl5)/config/arm_positions.yaml" />
  <arg name="robot_model_path" default="$(find mujoco_models)/urdf/ur10_fh_environment.xml"/>

  <!-- Robot stuff -->
  <include file="$(find fh_robot_launch)/launch/fh_ur10_and_fh2_mujoco.launch">
    <env name="MESH_WORKSPACE_PATH" value="$(find sr_utl5)/models/" />
    <arg name="sim" value="$(arg sim)"/>
    <arg name="scene" value="$(arg scene)" />
    <arg name="scene_file" value="$(arg scene_file)" />
    <arg name="initial_z" default="$(arg initial_z)" />
    <arg name="grasp_controller" value="$(arg grasp_controller)" />
    <arg name="robot_description" value="$(find fh_2_ur10_moveit_config)/config/fh_v2_ur10_with_hand.urdf.xacro" />
    <arg name="robot_model_path" value="$(arg robot_model_path)"/>
  </include>
</launch>
